@import 'https://fonts.googleapis.com/css?family=Lato:700,400|Julius+Sans+One:400';
@import "~fullpage.js/dist/jquery.fullpage.css";

html {
    height: 100%;
}

h3 {
    font-family: "Julius Sans One", sans-serif !important;
    text-transform: uppercase;
    text-align: center;
    color: #FCFCFC; 
    letter-spacing: .3em;
}
body {
    width: 100%;
}

/*
  ====================================
  Navbar logo and title
  ====================================
*/

#logo-container {
    letter-spacing: .3em;
}

.nav-wrap {
    background-color: transparent;
    height: 60px;
    width: 100%;
}

.nav-logo {
    height: 50px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 5px;  
}

.page-footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    color: #fff;
    background-color: #390C65;
    opacity: .6;
}
.footer-logo-one {
    padding-right: 14px;
}

.footer-logo-two {
    margin-left: -3%;
    padding-right: 2%;
    vertical-align: -10px;
}

.powered-by-li {
    padding-bottom: 3%;
}

.contact-section {
    margin-left: 54%;
}

.email-icon {
    padding-right: 1%;
    vertical-align: -25%;
}

.section-one {
    /* background-color: rgb(249, 249, 249); */
    opacity: 1;
}

.section-two {
    z-index: auto;
    /* background-color: rgb(71, 36, 79); */
    background-color: white;
}

#smart-contracts {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-27%, -50%);
}

#smart-contracts h3, #smart-contracts p {
    color: black;
}

.about-header {
    color: #501E83;
    text-align: center;
}

.team-header {
    color: #B9B9B9;;
}

.homeintro {
    /* left: 50%; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* color: #B9B9B9; */
    text-align: center;
    clear: both;
    font-size: 30px;
    letter-spacing: .3em;
}

.homelogodiv {
    text-align: center;
}
.homelogo {
    /* opacity: .8; */
}

section {
    float: left;
    width: 63%;
}

#smart-contracts p {
    text-align: center;
}

aside {
    float: right;
    width: 30%;
}

aside img {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

span .team-member {
    height: auto;
    width: auto;
    margin: 10px;
    margin-top: 20px;
}

span img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

span h4 {
    font-size: 2.00rem;
    letter-spacing: .2em;
    text-transform: uppercase;
}

span h5 {
    font-size: 1.01rem;
    letter-spacing: .3em;
    text-transform: uppercase;
    line-height: 1.5em;
}

.ethlogo {
    height: 100vh;
    align-items: center;
}



.main-pitch {
    margin: 50px;
    text-align: center;
}

.about-section p {
    margin: 50px;
    text-align: center;
}




ul[class="nav"] {
    position: absolute;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul[class="nav"] li {
    float: left;
    width: 100px;
    height: 30px;
    /* background-color: black; */
    /* opacity: .3; */
    line-height: 30px;
    text-align: center;
}

ul[class="nav"] li a {
    display: block;
    /* background-color: rgba(0, 0, 0, 0.41); */
}
/* ul.drop-menu {

} */

ul li a:hover {
    background-color: rgba(219, 112, 147, 0.65);
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    opacity: 0;
    animation-name: menu;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
     /* ease-in-out forwards; */
}
/* li:hover > ul.drop-menu li {
    display: block;
} */
@keyFrames menu {
    from {opacity: 0;}
    to {opacity: 1;}
}

.nav {
    z-index: 2;
}

#nav-button {
    color: white;
    margin: 0px;
    margin-bottom: 30px;
}

#nav-button:hover {
    /* color: #FE28A8; */
    cursor: pointer;
}

.front h3 {
    margin-top: -70%;
    color: white;
    letter-spacing: .3em;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif;
    backface-visibility: hidden;
}

.front h3:hover {
    color: #FE28A8;
    border-color: #FE28A8;
    background: rgba(0, 0, 0, 0.20);
    cursor: pointer;
}

/* .back {
    color: #FE28A8;
    border-color: #FE28A8;
    background: rgba(0, 0, 0, 0.20);
    transform: rotateX(180deg);
    left: 0;
} */

.whoweare {
    text-align: center;
}

.card {
    opacity: 0.7;
    border-radius: 20px;
    border-width: thick;
    background-color: #5d4674;
}

.card-content {
    text-align: center;
    color: #000000;
}

.card-title {
    color: #000000 !important;
}

.header-name {
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    padding: auto;
}

.card .card-image img {
    display: block;
    border-radius: 15px;
    position: relative;
    margin: auto;
    width: 70%;
}

.link-text1 {
    position: absolute;
    left: 20px;
    bottom: 4px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin: auto;
}
.link-text2 {
    position: absolute;
    left: 55%;
    bottom: 4px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin: auto;
}


.card-reveal-text {
    color: black;
}

.profile-grid {
    display: flex;
}

.about-me-header {
    text-align: center;
}

.card .card-action:last-child {
    border-radius: 0 0 50px 50px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
color: aquamarine !important;
}
.card-content {
color: #FFFFFF;
}