<div>
  <div [mnFullpage]="options" [mnFullpageNavigation]="true">
    <div class="fp-section fp-table">
        <!-- <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles> -->

      <div class="navbar-fixed">
        <!-- <nav class="transparent fixed-pos" role="navigation"> -->
          <nav class="transparent pinned">
            <div class="nav-wrapper">
              <div class="logo-title-lockup">
                <img class="nav-logo responsive-img" src="../../assets/legatumwhite.png">
                <a [routerLink]="['']" id="logo-container" class="brand-logo">LEGATUM</a>
              </div>
            </div>
        </nav>
      </div>


      <div class="fp-tableCell section-one">
        <div class="homelogodiv">
          <img class="homelogo responsive-img" src="../../assets/legatumwhite.png">
        </div>
        <h2 class="homeintro">Protect your legacy</h2>
      </div>
    </div>


    <div class="fp-section fp-table">
      <div class="fp-tableCell section-two">
        <div class="container">
          <section id="smart-contracts">
            <h3>Smart Contracts</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </section>
          <aside class="ethlogodiv">
              <img class="ethlogo" src="../../assets/ETHEREUM-ICON_Black.png">
          </aside>
      </div>
    </div>
  </div>


    <div class="fp-section fp-table">
      <div class="fp-tableCell section-three">
        <h3>Meet the team</h3>
        <div class="flex">
          <span class="team-member">
            <img src="../../assets/jamesKnippel.jpeg" alt="James Knippel">
            <h4>James Knippel</h4>
            <h5>Founder | Full-Stack Software Engineer</h5>
          </span>
          <span class="team-member">
            <img src="../../assets/mike_doyle.jpeg" alt="James Knippel">
            <h4>Mike Doyle</h4>
            <h5>Co-Founder | Full-Stack Software Engineer</h5>
          </span>
          <span class="team-member">
            <img src="../../assets/lewis_bracey.jpeg" alt="James Knippel">
            <h4>Lewis Bracey</h4>
            <h5>Co-Founder | Full-Stack Software Engineer</h5>
          </span>
        </div>
      </div>
    </div>


    <div class="fp-section fp-table section-four">
      <div class="fp-tableCell">
        <div class="flex">
          <div class="front" (click)="handleLogin()">
            <h3>
              Get Started
            </h3>
          </div>
        </div>
      </div>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">NOTICE</h5>
            <p class="grey-text text-lighten-4">Legatum is currently still in its Alpha phase, many updates and tweaks are expected to come!</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Powered By:</h5>
            <ul>
              <li class="powered-by-li"><img class="footer-logo-one" src="../../assets/rsz_ethereum-icon_black.png"><a class="grey-text text-lighten-3"
                  href="https://ethereum.org/">Ethereum</a></li>
              <li class="powered-by-li"><img class="footer-logo-one" src="../../assets/metamask.png"><a class="grey-text text-lighten-3" href="https://metamask.io/">Metamask</a></li>
              <li><img class="footer-logo-one" src="../../assets/rsz_angularicon.png"><a class="grey-text text-lighten-3"
                  href="https://angular.io/">Angular 4</a></li>
              <li><img class="footer-logo-two" src="../../assets/rsz_1aws.png"><a class="grey-text text-lighten-3" href="https://aws.amazon.com/">Amazon Web Services</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Legatum.io
          <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
          <a class="grey-text text-lighten-4 contact-section" href="mailto:support@legatum.io" target="_top"><i class="material-icons email-icon">email</i>Contact Us</a>
        </div>
      </div>
    </footer>

  </div>
</div>