.create-button {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%; 
    font-size: 12px;
    background: #6BDEB7;
    color: white;
}

.create-button:hover {
    border-color: #1D001D;
    color: #1C001C;
}
.my-contracts-header {
    text-align: center;
    color: aquamarine;
  }