<!-- <app-home *ngIf="!loggedIn; else elseBlock"></app-home>
<ng-template #elseBlock><app-dashboard></app-dashboard></ng-template> -->


<div class="navbar-fixed">
    <nav class="transparent" role="navigation">
      <div class="nav-wrapper darken-4">
        <img class="nav-logo responsive-img" src="../../assets/legatumwhite.png">
        <a [routerLink]="['']" id="logo-container" class="brand-logo">LEGATUM</a>

        <!-- <a href="#" data-activates="mobile-demo" class="button-collapse" (click)="sideNavOpen()"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a *ngIf="this.isLoggedIn" routerLink="/dashboard"><span id="nav-button">Dashboard</span></a>
            <li><a *ngIf="!this.isLoggedIn" (click)="handleLogin()"><span id="nav-button">Login</span></a>
              <li><a *ngIf="!this.isLoggedIn" (click)="handleRegister()"><span id="nav-button">Signup</span></a>
                <li><a>Menu</a>
                  <ul class="drop-menu">
                    <li><a a href="#section-two">Ethereum</a></li>
                    <li><a a href="#section-three">Our Team</a></li>
                    <li><a a href="#section-four">Contact</a></li>
                  </ul>
                </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a *ngIf="this.isLoggedIn" routerLink="/dashboard"><span id="nav-button">Dashboard</span></a>
            <li><a *ngIf="!this.isLoggedIn" (click)="handleLogin()"><span id="nav-button">login</span></a>
              <li><a *ngIf="!this.isLoggedIn" (click)="handleRegister()"><span id="nav-button">Signup</span></a>
                <li><a>Menu</a>
                  <ul class="drop-menu">
                    <li><a a href="#section-two">Ethereum</a></li>
                    <li><a a href="#section-three">Our Team</a></li>
                    <li><a a href="#section-four">Contact</a></li>
                  </ul>
                </li>
        </ul> -->
      </div>
    </nav>
  </div>



<router-outlet></router-outlet>
