#contract-preview {
  padding: 5px;
  background-color: #fdfcff;
  box-shadow: 2px 1px 7px 1px #2EE7B9;
  margin-top: 1%;
  color: #000000;
  font-size: 11px;
}


.link {
  color: blue;
}

.link:hover {
  text-decoration: underline;
}

#etherscan-link {
  margin-left: 10px;
}

#details-link {
  margin-left: 29px;
  margin-right: 10px;
}